body {
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
.dishes{
	font-size:25px;
}
.heading{
	color:blue;
	font-size:100px;
	text-align:center;
	
}
